h1 {
    color: blue;
    font-size: 50px;
    text-align:center;
}

h2{
font-size: 40px;
text-align: center;
}




ul.test {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  
}

li.test {
border-right: 1px solid #bbb;
  float: left;
  text-align: center;
}




li a.test {                 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;    
  
   
}


li a:hover {
  background-color: #111;
}

p.copyright{
text-align: right;
}

p.text{
text-align: justify;
padding-left: 50px; 
  padding-right: 50px;
}
  
  
  ul.padding{
  text-align: box;
padding-left: 150px; 
  padding-right: 150px;
  
  }

  li.padding{
  text-align: justify;
padding-left: 150px; 
  padding-right: 150px;
  }
